.main-content {
  margin-left: 0;
  transition: margin-left 0.3s;
}
@media (min-width: 768px) {
  .main-content.shifted {
    margin-left: 250px;
  }
}



.page-wrapper {
  padding: 20px;
  transition: all 0.3s ease;
}

/* Ajuste cuando el sidebar está visible */
.page-wrapper.shifted {
  margin-left: 250px; /* Ancho de tu sidebar */
  margin-top: 60px;   /* Alto de tu header, si existe */
}

/* Ajustes responsivos si es necesario */
@media (max-width: 768px) {
  .page-wrapper.shifted {
    margin-left: 0;
    margin-top: 60px;
  }
}

