.main-content {
  margin-left: 0;
  transition: margin-left 0.3s;
}
@media (min-width: 768px) {
  .main-content.shifted {
    margin-left: 250px;
  }
}



/* Esto ajusta el contenido cuando el sidebar está visible */
.content {
  padding: 20px; /* Puedes ajustar el valor */
  margin-left: 250px; /* Ancho del sidebar */
  margin-top: 60px;   /* Altura del header */
  transition: all 0.3s ease;
}

/* Si el sidebar puede ocultarse */
.content:not(.shifted) {
  margin-left: 0;
}
