<!-- Botón para mostrar el sidebar en dispositivos móviles -->
<button class="btn btn-primary d-md-none" (click)="toggleSidebar()">☰</button>

<!-- Sidebar -->
<nav class="sidebar d-flex flex-column p-3" [class.show]="sidebarVisible">
  <h4 class="text-white mb-4">Menú</h4>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-home me-2"></i>
        <span class="d-none d-md-inline">Bienvenidos</span>
      </a>
    </li>
    <li class="nav-item">
      <span class="nav-link disabled" >NEGOCIOS</span>
    </li>



    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-clipboard-list me-2"></i> Proyectos en curso</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-money-check-alt me-2"></i> Oportunidades de negocio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/empresas"><i class="fas fa-hotel me-2"></i> Empresas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="far fa-building me-2"></i> Propiedades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fas fa-tools me-2"></i> Reformas</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/empresas" (click)="toggleSidebar()">
        <i class="fas fa-hotel me-2"></i>
        <span class="d-none d-md-inline">Empresas</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/propiedades">
        <i class="far fa-building me-2"></i>
        <span class="d-none d-md-inline">Propiedades</span>
      </a>
    </li> -->






      <li class="nav-item">
        <span class="nav-link disabled">CONTACTOS</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-handshake me-2"></i> Alianzas/Inversores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-address-card me-2"></i> Profesionales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-book-reader me-2"></i> Prepárate</a>
      </li>



  </ul>
</nav>






