<body class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <!-- <div class="preloader">
      <div class="loader">
          <div class="loader__figure"></div>
          <p class="loader__label">Admin Pro</p>
      </div>
  </div> -->
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <app-header></app-header>

      <aside class="left-sidebar">
          <!-- Sidebar scroll-->
          <div class="scroll-sidebar">
              <!-- Sidebar navigation-->
              <nav class="sidebar-nav">
                  <ul id="sidebarnav">
                      <li class="user-profile"> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                      </li>
                      <li class="nav-devider"></li>
                      <li> <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-home me-2"></i><span class="hide-menu">Bienvenidos </span></a>
                      </li>
                      <!-- <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                          <ul aria-expanded="false" class="collapse">
                              <li><a href="index.html">Minimal </a></li>
                              <li><a href="index2.html">Analytical</a></li>
                              <li><a href="index3.html">Demographical</a></li>
                              <li><a href="index4.html">Modern</a></li>
                          </ul>
                      </li> -->


                      <li class="nav-small-cap">NEGOCIOS</li>


                      <!-- <li> <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-home me-2"></i><span class="hide-menu">Bienvenidos </span></a> -->

                      <!-- <li><a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-clipboard-list me-2"></i><span class="hide-menu"> Proyectos en curso </span></a></li> -->
                      <li> <a class="waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-multiple"></i><span class="hide-menu">Proyectos en curso</span></a></li>


                      <li><a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-money-check-alt me-2"></i><span class="hide-menu"> Oportunidades de negocio </span></a></li>

                      <!-- <li>
                        <a class=" waves-effect waves-dark" href="#"><i class="fas  me-2"></i> </a>
                      </li> -->
                      <li>
                        <a class=" waves-effect waves-dark" href="/empresas" aria-expanded="false"><i class="fas fa-hotel me-2"></i><span class="hide-menu"> Empresas</span> </a>
                      </li>
                      <li>
                        <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="far fa-building me-2"></i> <span class="hide-menu"> Propiedades</span> </a>
                      </li>
                      <li>
                        <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-tools me-2"></i> <span class="hide-menu"> Reformas</span> </a>
                      </li>


                      <li class="nav-small-cap">PERSONAL</li>


                      <li>
                        <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="far fa-handshake me-2"></i> <span class="hide-menu"> Alianzas/Inversores </span> </a>
                      </li>
                      <li>
                        <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="far fa-address-card me-2"></i><span class="hide-menu"> Profesionales</span> </a>
                      </li>
                      <li>
                        <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-book-reader me-2"></i> <span class="hide-menu"> Prepárate</span> </a>
                      </li>






                  </ul>
              </nav>
              <!-- End Sidebar navigation -->
          </div>
          <!-- End Sidebar scroll-->
      </aside>

  </div>


</body>
